/* Stylesheet for Calc App */

.calc_box {
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
}

.calc_box > div {

  background-color: #ff751a;
  width: 3em;
  margin: 0.5em;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
  color: white;


} 